<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<table class="table table-hover">
    <thead>
    <td>参数</td>
    <td>说明</td>
    <td>值</td>
    </thead>
    <tr>
        <td>costTime</td>
        <td>请求耗时</td>
        <td>${costTime}</td>
    </tr>
    <tr>
        <td>methodName</td>
        <td>请求的方法</td>
        <td>${methodName}</td>
    </tr>
    <tr>
        <td>paramNames</td>
        <td>请求的参数名称列表</td>
        <td>${paramNames}</td>
    </tr>
    <tr>
        <td>paramTypes</td>
        <td>请求的参数类型列表</td>
        <td>${paramTypes}</td>
    </tr>
    <tr>
        <td>paramValues</td>
        <td>请求的参数值列表</td>
        <td>${paramValues}</td>
    </tr>
    <tr>
        <td>remoteAddr</td>
        <td>请求客户端的地址</td>
        <td>${remoteAddr}</td>
    </tr>
    <tr>
        <td>requestMethod</td>
        <td>请求方式</td>
        <td>${requestMethod}</td>
    </tr>
    <tr>
        <td>requestURI</td>
        <td>请求的URI</td>
        <td>${requestURI}</td>
    </tr>
</table>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
