<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Blog</title>
<meta name="keywords" content="个人博客,田雄方个人博客,个人博客模板,田雄方" />
<meta name="description" content="田雄方个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- fonts -->
<!--<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>-->
<link href="css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
<!-- /fonts -->
<!-- css -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/typo.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/trend.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/info.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--<link href="css/index.css" rel="stylesheet">-->
<script src="js/modernizr.js"></script>
<!--<link href="css/base.css" rel="stylesheet">-->
<link href="css/mood.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">XF_BLOG</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><h1>XF_BLOG</h1></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="index.html">首页</a></li>
                <li><a href="about.html">关于</a></li>
                <li><a href="service.html">服务</a></li>
                <li><a href="blog.html">博客</a></li>
                <li><a href="typo.html">图片</a></li>
                <li><a href="contact.html">文章</a></li>
                <li><a href="home.html">历史</a></li>
                <li><a href="knowledge.html">知识点</a></li>
                <li class="active"><a href="moodlist.html">闲言碎语</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!-- /navigation -->
<!-- banner section -->
<div id="slider" class="slider-container2">
    <ul class="slider">
        <li class="slide">
            <div class="slide-bg">
                <img src="images/banner1.jpg" alt="An Image" draggable="false">
            </div>
        </li>
        <li class="slide">
            <div class="slide-bg">
                <img src="images/banner2.jpg" alt="An Image" draggable="false">
            </div>
        </li>
        <li class="slide">
            <div class="slide-bg">
                <img src="images/banner3.jpg" alt="An Image" draggable="false">
            </div>
        </li>
    </ul>
    <div class="slider-controls">
        <div class="slide-nav">
            <a href="#" class="prev"><img src="images/prev.png" alt="w3layouts"></a>
            <a href="#" class="next"><img src="images/next.png" alt="w3layouts"></a>
        </div>
        <ul class="slide-list">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
        </ul>
    </div>
</div>
<div class="moodlist">
  <h1 class="t_nav"><span>删删写写，回回忆忆，虽无法行云流水，却也可碎言碎语。</span><a href="/" class="n1">网站首页</a><a href="/" class="n2">碎言碎语</a></h1>
  <div class="bloglist">
    <ul class="arrow_box">
     <div class="sy">
     <img src="images/001.png">
      <p> 我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。</p>
      </div>
      <span class="dateview">2014-1-1</span>
    </ul>
    <ul class="arrow_box">
         <div class="sy">
      <p> 我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。我在岁月中找到他，依靠他，将一生交付给他。做他的妻子，他孩子的母亲，为他做饭，洗衣服，缝一颗掉了的纽扣。然后，我们一起在时光中变老。</p>
        </div>
      <span class="dateview">2014-1-1</span>
    </ul>
    <ul class="arrow_box">
         <div class="sy">
      <img src="images/001.png">
      <p> 我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。我在岁月中找到他，依靠他，将一生交付给他。做他的妻子，他孩子的母亲，为他做饭，洗衣服，缝一颗掉了的纽扣。然后，我们一起在时光中变老。</p>
      <span class="dateview">2014-1-1</span>
        </div>
    </ul>
  </div>
  <div class="page"><a title="Total record"><b>41</b></a><b>1</b><a href="/news/s/index_2.html">2</a><a href="/news/s/index_2.html">&gt;</a><a href="/news/s/index_2.html">&gt;&gt;</a></div>
</div>
<footer>
    <p>Design by DanceSmile More Templates <a href="http://localhost:8084/index.html" target="_blank" title="XF_BLOG">XF博客</a> - Collect from <a href="http://localhost:8084/index.html" title="XF博客" target="_blank">XF博客</a> <a href="/">XF博客</a></p>
</footer>
</body>
</html>